
.hoveridea{
  width: 20vw;
  height: 41vh;
  position: absolute;
  top:30%;
  margin-top: 10px;
  margin-left: 10px;
  background-color: rgba(0, 0, 0, 0.715);
  color: white;
  transition: 0.3s;
} 
.hoveridea label{
  font-weight: 550;
}
.hoverideasize{
  font-size: 12px;
}
.hoveridea:hover{
  margin-top: 0;
}
.noneidea{
  display: none;
}

.hoverComputer{
  width: 20vw;
  height: 41vh;
  position: absolute;
  top:30%;
  margin-top: 10px;
  left: 40%;
  background-color: rgba(0, 0, 0, 0.715);
  color: white;
  transition: 0.3s;
}
.hoverComputer:hover{
  margin-top: 0;
} 
.noneComputer{
  display: none;
}
.hoverAdvice{
  margin-top: 10px;
  margin-right: 10px;
  width: 20vw;
  height: 41vh;
  position: absolute;
  top:30%;  
  right: 10%;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.715);
  color: white;
  transition: 0.3s;
}

.hoverAdvice:hover{
  margin-top: 0;
} 
.noneAdvice{
  display: none;
}

@media  (max-width: 1100px){
  
  .hoverAdvice{
    right: 15%;
  }
}